/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Style */
body {
    font: 16px/28px arial, sans-serif;
    color: rgb(36, 89, 83);
    background-color: rgb(216, 216, 216);
}

.bar-header {
    top: 0;
    position: fixed;
    width: 100%;
    padding: 16px 0;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 44px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgb(64, 142, 145);
    line-height: 72px;
    border-bottom: 2px solid rgb(64, 142, 145);
    background-color: rgb(36, 89, 83);
    mix-blend-mode: darken;
}
.blank {
    width: 100%;
    padding: 16px 0;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 44px;
    color: rgba(0, 0, 0, 0%);
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0%);
    line-height: 72px;
    border-bottom: 2px solid rgba(0, 0, 0, 0%);
}

.container {
    margin: 1vw 4vw;
    padding: 2vw 4vw 3vw;
    background-color: white;
}

.container header {
    text-align: center;
}

.container header h1 {
    margin: 32px 0;
    font-variant: all-small-caps;
    font-weight: bold;
    font-size: 36px;
    color: rgb(36, 89, 83);

    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 0px 0 #b9b9b9,
        0 0px 0 #aaa,
        0 3px 1px rgba(0, 0, 0, .1),
        0 0 0px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 2px 1px rgba(0, 0, 0, .2),
        0 4px 8px rgba(0, 0, 0, .25),
        0 5px 6px rgba(0, 0, 0, .2),
        0 4px 15px rgba(0, 0, 0, .15);
}

.container header p {
    margin-top: 20px;
}

.container nav {
    margin-top: 20px;
    text-align: center;
}

.container nav button {
    width: 90%;
    height: 40px;
    margin: 2px auto;
    padding: 8px;
    border-radius: 4px;
    color: rgb(64, 142, 145);
    border: none;
    background-color: white;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px rgba(64, 142, 145, 25%);
}

.container nav button:hover {
    border: 2px solid rgb(64, 142, 145);
    border-color: rgba(64, 142, 145, 50%);
    box-shadow: 0 0 15px 5px rgba(64, 142, 145, 25%);
}

#btnLuas {
    color: white;
    border: none;
    background-color: rgb(64, 142, 145);
}

.container main {
    display: none;
    width: 95%;
    margin: 20px auto;
    border: 2px solid rgb(64, 142, 145);
    background-color: white;
}

.container main:hover {
    box-shadow: 0 0 12px 8px rgba(64, 142, 145, 25%);
}

#luasSegitiga {
    display: block;
}

.container main h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    color: white;
    background-color: rgb(64, 142, 145);
}

.main-content {
    display: flex;
}

.content-formula {
    width: 50%;
    padding: 18px;
}

.content-formula figure {
    text-align: center;
}

.content-formula figure img {
    width: 18vw;
    margin: 18px auto 24px;
}

.formula {
    font-weight: bold;
    text-align: center;
}

.content-calculate {
    width: 50%;
    padding: 12px;
    text-align: center;
}

.content-calculate h3 {
    margin: 44px auto 12px;
    font-size: 17px;
    font-weight: bold;
}

.container-input-luas input,
.container-input-kAB input,
.container-input-kC input {
    width: 30vw;
    margin: 8px auto;
    padding: 8px;
    color: rgb(36, 89, 83);
    border: 1.5px solid rgba(64, 142, 145, 45%);
    border-radius: 3px;
}
::placeholder {
    color: rgb(64, 142, 145);
    opacity: 0.54;
}

.container-input-luas input:focus,
.container-input-kAB input:focus,
.container-input-kC input:focus {
    outline: none;
    border: 1.5px solid rgb(64, 142, 145);
    box-shadow: 0 0 4px 1px rgba(64, 142, 145, 25%);
}

.container-input-luas {
    margin: 0 auto 12px;
    padding: 12px 4px;
}

.container-input-kAB {
    margin: 0 auto;
    padding: 12px 4px 0;
}

.container-input-kC {
    margin: 0 auto 12px;
    padding: 0 4px 12px;
}

.container-output {
    margin: 12px auto;
    padding: 12px 4px;
}

.container-output table {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
#L, #K {
    width: 25px;
    padding-right: 5px;
}
#equalsL, #equalsK {
    padding: 0 5px;
}

#hitungLuas, #hitungKeliling {
    margin: 12px;
    padding: 12px;
    color: white;
    border: 2px solid rgb(64, 142, 145);
    border-radius: 4px;
    background-color: rgba(64, 142, 145, 85%);
}

#hitungLuas:hover, #hitungKeliling:hover {
    background-color: rgb(64, 142, 145);
    box-shadow: 0 0 16px 2px rgba(64, 142, 145, 45%);
}

#resetLuas, #resetKeliling {
    margin: 8px 12px;
    padding: 8px;
    color: white;
    text-align: left;
    border: 2px solid rgb(228, 147, 147);
    border-radius: 4px;
    background-color: rgba(228, 147, 147, 85%);
}

#resetLuas:hover, #resetKeliling:hover {
    background-color: rgb(228, 147, 147);
    box-shadow: 0 0 16px 2px rgba(228, 147, 147, 45%);
}

@media only screen and (max-width: 600px) {
    .main-content {
        display: block;
    }
    .content-formula {
        width: 94%;
    }
    .container-input-luas, .container-input-kAB {
        display: flex;
        justify-content: space-evenly;
    }
    .container-input-luas input, .container-input-kAB input, .container-input-kC input {
    width: 40%;
    }
    .container-input-kC {
        margin: 1vw 12px;
    } 
    .content-formula figure img {
        width: 32vw;
    }
    .content-calculate {
        width: 94%;
    }
}